* {
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  height: 100%;
  background-color: #ffffff;
  overflow: hidden;
  position: relative;
}

.heads{
  display: flex;
  justify-content: space-between;
}
#x{
  height: 25px;
}

/* Styling for the main UI window */
#app-window {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 300px;
  background-color: #00acc1;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border: 1px solid #004c5c;
}

/* Styling for the main UI's header */
#app-header {
  background-color: #007b8a;
  color: white;
  padding: 10px;
  cursor: move;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-weight: bold;
  user-select: none;
}

#app-info {
  text-align: center;
  padding: 10px;
}

#app-info img {
  width: 100px;
  border-radius: 10px;
  margin-top: 5%;
}

/* sizing */
.input-field {
  display: block;
  width: 80%;
  margin: 10px auto;
  padding: 10px;
  border-radius: 6px;
  border: none;
  background-color: #19304b;
  color: white;
}

.submit {
  display: block;
  width: 80%;
  margin: 10px auto;
  padding: 10px;
  background-color: #19304b;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* Allows items in the header to remain in the */
/* center of the header regardless of it's size */
header{
  display: flex;
  align-items: center;
  background-color: #00acc1;
}

.logo{
  width: 75px;
  border-radius: 10px;
  margin: 25px;
}

.h2{
  margin: 15px;
}

.headerRight{
  display: flex;
  margin-left: auto;
}

.headerText{
  margin: 15px;
}

.background{
  margin: 2%;
  width: 96%;
  border-radius: 10px;
  background-color: #b3b3b3;
}

.column{
  display: flex;
  justify-content: space-evenly;
}

.passwords{
  height: 68vh;
}

/* Styling for the credential storage table */
.passwordStore{
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
  background-color: #19304b;
  color: white;
  border-radius: 10px;
}

.names{
  color: #ffffff;
}

.backdrop{
  height: 12%;
  margin-top: 15px;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 10px;
  background-color: #19304b;
}

.icon{
  width: 50px;
  border-radius: 100px;
}

.buttons{
  display: flex;
  border-top: 1px solid black;
}

.signOut{
  background-color: #19304b;
  color: #ffffff;
  font-size: 25px;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  margin: 15px;
}
.option{
  margin: 10px;
  border-radius: 100px
}

.rightButton{
  display: flex;
  margin-left: auto;
}

#delete{
  background-color: #D32F2F;
}

#add{
  background-color: #2E7D32;
}

#modalView{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(66, 66, 66, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
}

.addPass{
  background-color: #19304b;
  color: white;
  padding: 2rem;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}

.inputs{
  height: 30px;
  width: 80%;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}

.buttonS{
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  color: white;
}

.flexy{
  display: flex;
  justify-content: space-evenly;
}

/* Background colours for buttons */
#green{
  background-color: #2E7D32;
}

#red{
  background-color: #D32F2F;
}

#modalView2{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(66, 66, 66, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
}

.delPass{
  background-color: #19304b;
  color: white;
  padding: 2rem;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}

#green2{
  background-color: #2E7D32;
}

#red2{
  background-color: #D32F2F;
}
